[Home](../../README.md)

### Data Preprocessing

This is a demonstration of data preprocessing using [Pandas](https://pandas.pydata.org/) the library for data analysis and manipulation.

This Jupyter Notepad is less about steps and more about different processes you can apply to your data before data wrangling. For this demonstration we will use relatively a complex real dataset that compares health measures with the speed of progress of type 2 adult onset diabetes.

#### Load the required dependencies

In [1]:
# Import frameworks
import pandas as pd

####  Store the data as a local variable

The data frame is a Pandas object that structures your tabular data into an appropriate format. It loads the complete data in memory so it is now ready for preprocessing.

In [9]:
data_frame = pd.read_csv("2.1.1.Diabeties_Sample_Data.csv")

#### head() & tail() - Data Snapshot

It is important to get a high-level look at your dataset to understand what you are working with. Printing the complete data might be impossible for large-scale datasets where the rows can be in thousands or even millions.

You can use the head and tail method call to inspect the first and last 5 rows of your dataset.

In [9]:
# Target = A measure of disease progression in one year
print(data_frame.head())
print(data_frame.tail())

   AGE     SEX   BMI     BP  Total Cholesterol  Blood Sugar Level  Target
0   59  Female  32.1  101.0                4.0                 87     151
1   48    Male  21.6   87.0                3.0                 69      75
2   72  Female  30.5   93.0                4.0                 85     141
3   24    Male  25.3   84.0                5.0                 89     206
4   50    Male  23.0  101.0                4.0                 80     135
     AGE     SEX   BMI      BP  Total Cholesterol  Blood Sugar Level  Target
437   60  Female  28.2  112.00               4.00                 93     178
438   47  Female  24.9   75.00               5.00                102     104
439   60  Female  24.9   99.67               3.77                 95     132
440   36    Male  30.0   95.00               4.79                 85     220
441   36    Male  19.6   71.00               3.00                 92      57

####  info() - Data Summary
 
The info method call prints a summary of each column, giving you more information about the specific data types, total number of rows, null values and memory usage.

In [10]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                442 non-null    int64
 1   SEX                442 non-null    object
 2   BMI                442 non-null    float64
 3   BP                 442 non-null    float64
 4   Total Cholesterol  442 non-null    float64
 5   Blood Sugar Level  442 non-null    int64
 6   Target             442 non-null    int64
dtypes: float64(3), int64(3), object(1)
memory usage: 24.3+ KB

#### describe() - Statistics For Numerical Columns
 
The describe method call provides basic statistical knowledge like the mean and spread of the data.

In [11]:
data_frame.describe()

,AGE,BMI,BP,Total Cholesterol,Blood Sugar Level,Target
count,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000
mean,48.518100,26.375792,94.647014,4.070249,91.260181,152.133484
std,13.109028,4.418122,13.831283,1.290450,11.496335,77.093005
min,19.000000,18.000000,62.000000,2.000000,58.000000,25.000000
25%,38.250000,23.200000,84.000000,3.000000,83.250000,87.000000
50%,50.000000,25.700000,93.000000,4.000000,91.000000,140.500000
75%,59.000000,29.275000,105.000000,5.000000,98.000000,211.500000
max,79.000000,42.200000,133.000000,9.090000,124.000000,346.000000

#### isnull()

Null values during data analysis can cause runtime errors and unexpected results. It is important to identify null values and deal with them appropriately beforehand.

In [10]:
print(data_frame.isnull().sum())

AGE                  1
SEX                  1
BMI                  0
BP                   0
Total Cholesterol    0
Blood Sugar Level    0
Target               0
dtype: int64

#### dropna() & fillna()

If you have null data there are many ways to deal with the empty/null values. These are the two most common approaches.
1. Remove any row with a null value.
2. Replace missing values with another value. Generally, we use mean value for numerical columns because it may cause minimal changes in your mathematical analysis while maintaining the original size of the data.

Question: Why is removing the null 'SEX' and replacing the mean 'AGE' appropriate?

In [11]:
# Remove Null values
data_frame = data_frame.dropna(subset=['SEX'])
print(data_frame.isnull().sum())

AGE                  1
SEX                  0
BMI                  0
BP                   0
Total Cholesterol    0
Blood Sugar Level    0
Target               0
dtype: int64

In [12]:
# Replace Null values with the mean value for the column
data_frame['AGE'] = data_frame['AGE'].fillna(data_frame['AGE'].mean())
print(data_frame.isnull().sum())

AGE                  0
SEX                  0
BMI                  0
BP                   0
Total Cholesterol    0
Blood Sugar Level    0
Target               0
dtype: int64

#### apply()

We can run a lambda function on a column to modify its values. For a simple example, let’s convert the Sex to lowercase. To run a function over a complete column, we can use the apply method which iterates over each row and modifies the values.

In [14]:
data_frame['SEX'] = data_frame['SEX'].apply(lambda x: x.lower())
print(data_frame['SEX'].head())

0    female
1      male
2    female
3      male
4      male
Name: SEX, dtype: object

Or better still let make there statistical values by assigning a number value to the SEX. Because the data set only states 2 values we will use -1 and 1.

In [16]:
data_frame['SEX'] = data_frame['SEX'].apply(lambda gender: -1 if gender.lower() == 'male' else 1 if gender.lower() == 'female' else None)
print(data_frame['SEX'].head())

0    1
1   -1
2    1
3   -1
4   -1
Name: SEX, dtype: int64

#### Filter Your Data

Filtering is like applying the where clause in a database. It is widely used and can help when you need to work on a specific subset of your data. For our use case, let us filter the data to only include rows where the 'SEX' is 'Male'. There is no method call for this, we can just use conditional indexing to fulfill our purpose.

In [ ]:
data_frame = data_frame[data_frame['Region'] == 'Sub-Saharan Africa']
data_frame.head()

#### quantile()

Outliers can skew your analysis on numerical columns, and it is important to remove them. We can use the 25th and 75th quartile on numerical data, to get the inter-quartile range. This allows us to estimate an acceptable range, and we can then filter out any values outside this range. Mathematically, outliers are values occurring outside 1.5 times the interquartile range (IQR) from the first quartile (Q1) or third quartile (Q3).

In [ ]:
#get the inter-quartile range on the salary column
print(data_frame['Units Sold'].describe())
Q1 = data_frame['Units Sold'].quantile(0.25)
Q3 = data_frame['Units Sold'].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
# Filter salaries within the acceptable range
data_frame = data_frame[(data_frame['Units Sold'] >= Q1 - 1.5 * IQR) & (data_frame['Units Sold'] <= Q3 + 1.5 * IQR)]
print(data_frame['Units Sold'].describe())

#### Save the preprocessed data to CSV

In [ ]:
data_frame.to_csv('2.1.1.preprocessed_data.csv')